<style>
	.question { position: relative; }
	.question img {
		opacity: 0.7;
		width: 580px;
	}
</style>

<p>Position the second image directly over top the first image (superimposed).</p>

<p>Edit the page source to begin.</p>

<div class='question'>
	<div class="img1">
		<img src="/images/rob1.jpg">
	</div>

	<div class="img2">
		<img src="/images/rob2.jpg">
	</div>
</div>
